.microservices-dialog{
  display:none;
  position:fixed;
  width:300px;
  height:400px;
  bottom:30px;
  left:400px;
  border:solid 2px black;
  background-color:white;
  overflow-y: auto;
  z-index:1000;
}

.operation-dialog{
  display:none;
  position:fixed;
  width:300px;
  height:400px;
  bottom:30px;
  left:800px;
  border:solid 2px black;
  background-color:white;
  overflow-y: auto;
  z-index:1000;
}

.wot-dialog{
  display:none;
  position:fixed;
  width:350px;
  height:400px;
  top:30px;
  left:150px;
  border:solid 2px black;
  background-color:white;
  overflow-y: auto;
  z-index:1000;
}

.task-operations-dialog{
  display:none;
  position:fixed;
  width:300px;
  height:250px;
  bottom:100px;
  right:2px;
  border:solid 2px black;
  background-color:white;
  overflow-y: auto;
  z-index:900;
}

.microservice-name{
  text-align: center;
  font-size: 20px;
  padding-top:10px;
  padding-bottom:10px;
}

.eventNameError-dialog{
  display:none;
  position:fixed;
  width:300px;
  height:200px;
  bottom:30px;
  left:200px;
  border:solid 2px black;
  background-color:white;
  overflow-y: auto;
  z-index:1000;
}